#mozk {
	font-size: 50px;
	color: #F879E0FF;
	text-align: center;
    padding: 30px;
    transition: .5s;
}

#rap {
    color: transparent;
    transition: 1s;
    text-align: center;
    font-size: 100px;
}
#mozk:hover {
    color: transparent;
}

#mozk:hover+#rap {
    color: #F879E0FF;
}
